<div class="pagination">
  <button
    class="pagination__btn" 
    [disabled]="currentPage === 1"
    (click)="onPageChange(currentPage - 1)"
  >
    <i class="bi bi-arrow-left-square-fill"></i>
  </button>

  @for(page of getPages(); track page) {
    <button
      class="pagination__btn"
      [class.pagination__btn--active]="page === currentPage"
      (click)="onPageChange(page)"
    >
      {{ page }}
    </button>
  }

  <button
    class="pagination__btn"
    [disabled]="currentPage === totalPages"
    (click)="onPageChange(currentPage + 1)"
  >
    
    <i class="bi bi-arrow-right-square-fill"></i>
  </button>
</div>
