<div class="change-password">
  <h3 class="change-password__title">პაროლის შეცვლა</h3>

  <form [formGroup]="form" (ngSubmit)="onSubmit()">

    <div class="change-password__field">
      <label>ძველი პაროლი</label>
      <input type="password" formControlName="oldPassword" placeholder="ძველი პაროლი"/>
      @if(form.get('oldPassword')?.invalid && form.get('oldPassword')?.touched) {
        <span class="change-password__error">მინიმუმ 8 სიმბოლო</span>
      }
    </div>

    <div class="change-password__field">
      <label>ახალი პაროლი</label>
      <input type="password" formControlName="newPassword" placeholder="ახალი პაროლი"/>
      @if(form.get('newPassword')?.invalid && form.get('newPassword')?.touched) {
        <span class="change-password__error">მინიმუმ 8 სიმბოლო</span>
      }
    </div>

    @if(isSuccess()) {
      <div class="change-password__success"><i class="bi bi-check-circle-fill"></i> პაროლი წარმატებით შეიცვალა!</div>
    }

    @if(errorMessage()) {
      <div class="change-password__error-box">{{ errorMessage() }}</div>
    }

    <button type="submit" class="change-password__btn" [disabled]="form.invalid || isLoading()">
      {{ isLoading() ? 'იტვირთება...' : 'შეცვლა' }}
    </button>

  </form>
</div>
